@import './github-markdown-amp.css';
@import '../../node_modules/highlightjs/styles/github.css';
@import './markdown.css';
@import '../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  font-family: arial, sans-serif;
  @apply text-gray-800;
}

body {
  letter-spacing: 0.05em;
}

.container {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
