@import '../../node_modules/highlightjs/styles/vs2015.css';
@import '../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';
@import '../../node_modules/katex/dist/katex.css';

/*@import '../../node_modules/github-markdown-css/github-markdown.css';*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
  font-family: arial, sans-serif;
  @apply text-gray-800;
}

body {
  letter-spacing: 0.05em;
}

a {
  @apply text-blue-500;
}
a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 10px;
}

.katex {
  font-size: 97%;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

.katex-display > .katex {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
