.markdown-body {
  font-size: 13px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-family: sans-serif;
  }

  h1 {
    font-size: 1.5rem;
    margin: 4rem 0;
  }
  h2 {
    font-size: 1.3rem;
    margin: 2.5rem 0 1rem 0;
  }

  pre {
    padding: 16px;
    margin: 1rem 0;
  }

  ul,
  ol {
    padding-left: 2rem;
    margin: 1rem 0;
    ul,
    ol {
      margin: 0;
    }
  }
  li + li {
    margin: 0;
  }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    padding-left: 1.5rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  code {
    background-color: #f6f8fa;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    font-size: 85%;
  }
}
