.markdown-body {
  font-size: 14px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: normal;
}

.markdown-body h1 {
  font-size: 1.5rem;
}
.markdown-body h2 {
  font-size: 1.3rem;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2rem;
}
.markdown-body li + li {
  margin: 0;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ul,
.markdown-body ol ol {
  padding-left: 1.5rem;
}
.markdown-body ul,
.markdown-body menu,
.markdown-body dir {
  display: block;
  list-style-type: disc;
}
.markdown-body ol {
  display: block;
  list-style-type: decimal;
}
.markdown-body li {
  display: list-item;
  text-align: -webkit-match-parent;
}
