@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: arial, sans-serif;
  @apply text-gray-800;
}

body {
  letter-spacing: 0.05em;
}

html,
body,
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: theme("colors.blue.600");
}

.container {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
